.course-search-btn {
  display: flex;
  position: absolute;
  background-color: #ffffffa3;
  color: #000000a3;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  top: 10%;
  left: 32%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.course-search-btn:hover {
  background-color: #dfdfdf;
  color: #323232;
  font-size: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.supercanvas-deadline-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.supercanvas-card-header {
  margin-left: 5px;
  margin-right: 5px;
  font-size: medium;
  font-weight: 700;
}

.supercanvas-deadline-text,
.supercanvas-deadline-time {
  font-size: 14px;
}

.supercanvas-deadline-countdown {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}

.supercanvas-deadline-empty {
  margin: 0px;
}
