.course-search-btn {
  display: flex;
  position: absolute;
  background: rgb(255, 255, 255, 0.5);
  color: rgb(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 20px;
  top: 10%;
  left: 32%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.general-search-btn {
  display: flex;
  width: 200px;
  height: 35px;
  align-items: center;
  padding: 10px;
  background: #777;
  color: #ebedf0;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid #777;
}

.general-search-btn:hover {
  border: 3px solid #ebedf0;
}

.search-btn:hover {
  background: rgb(255, 255, 255, 0.9);
  color: rgb(0, 0, 0, 0.9);
}
